@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 7rem;
    --subnav-height: 7.1rem;
  }
  html {
    @apply h-full bg-white font-sans text-black;
    font-size: 62.5%;
  }
  body {
    min-height: 100vh;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  }
  .skeleton {
    @apply from-neutral-content to-base-300 animate-pulse rounded-xl bg-gradient-to-r text-transparent;
  }
  .skeletonRound {
    @apply from-neutral-content to-base-300 animate-pulse rounded-full bg-gradient-to-r;
  }
}
